<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
<body>

<p>Hi,</p>

<p>I would greatly appreciate if you provided developmental feedback to <%=@user.first_name%> <%=@user.last_name %> as part of the agile performance feedback review program. Completing the review should take less than 20 minutes, and your individual responses will be anonymous. The person you are rating will only have access to comments and aggregate scores.</p>

<p>Recipients of agile performance feedback have found the information provided in the comment section to be very helpful. It can help them better understand their ratings, especially in areas where they may not be meeting expectations. I would ask that you include commentary to make sure the feedback is actionable.</p>

<p>I would ask that the survey be completed no later than [3 Days Later].</p>

<p>Please click here to begin the review:</p>

<a href="#">https://url.tobeplaced.later</a>

</body>
</html>