/*reviewtable*/
.review {
  margin-top:10px;
  margin-bottom:20px;
  width:100%; 
  border: 5px solid red;
  border-style: solid;
  padding: 10px;
}
tr
{
  border: 1px black;
  border-style: solid;
  padding: 10px;
}
th
{
  border: 1px black;
  border-style: solid;
  padding: 10px;
}
td
{
  border: 1px black;
  border-style: solid;
  padding: 10px;
}